body {
    font-family: 'Times New Roman', serif; 
    background-color: #2B2B2B; 
    color: #d8d8d8; 
    margin: 0px;
}

/* navbar */
.NavBar {
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: #181818; 
    border: 1px solid #222222;
    display: flex;
    min-height: 50px;
    position: sticky;       
    top: 0;
    align-items: center;
}

.Logo {
    max-width: 50px;
    max-height: 50px;
    margin-right: 20px;
}

.SiteTitle {
    font-size: 24px;
    font-style: bold;
    margin-right: 20px;
}

.SearchBar {
    margin-left: 50px;
    border: 2px solid #555555;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: 600;
    font-size: 20px;
    border-radius: 3px;
    display: flex;

    overflow: hidden;
    max-width: 600px;
    min-width: 600px;
    min-height: 20px;
}

.FilterGroup {
    display: flex;
}

.Filter {
    background-color: lightgrey;
    color:#333333;
    border-radius: 3px;
    font-size: 16px;
    display: flex;
    margin-right: 5px;
}

.FilterXButton {
    margin: 0px;
    padding: 0px;
    border: none;
    background-color: rgba(0, 0, 0, 0);
    display: flex;
    align-items: center;
    cursor: pointer;
}

.FilterXButton:hover {
    background-color: rgb(0,0,0,.2);
}

.SubInput {
    border: none;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 16px;
    color:#d8d8d8; 
    min-width: 20px;
    margin-right: 5px;
}

.SubInput:focus {
    outline: none;
}

/* filter and search buttons*/
.SearchIcon {
    min-width: 24px;
    min-height: 24px;
    margin-right: 20px;
    border: none;
    border-radius: 4px;
    
}

.SearchIcon:hover {
    background-color: rgb(255,255,255,.15);
    cursor: pointer;
}

.FilterDropDown {
    margin-left: 20px;
    position: relative;
}

.dropdown-options {
    display: none; /* hide until hover*/
    position: absolute;
    right: 0;
    background-color:#181818; 
    border-radius:5px;
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.2);
    min-width: 125px;
}

.FilterDropDown:hover .dropdown-options {
    display: block; /* now display */
}

.dropdown-option {
    right: 0;
    display: block;
    color: #d8d8d8; 
    text-decoration: none;
    padding: 15px;
    border-radius: 5px;
}

.dropdown-option:hover {
    background-color: #121212;
}

/* source for this dropdown system: https://www.freecodecamp.org/news/html-drop-down-menu-how-to-add-a-drop-down-list-with-the-select-element/ */
.dropdown {
    margin-left: auto;
    position: relative;
}

.ProfileIcon {
    margin-left: auto;
    min-width: 24px;
    min-height: 24px;
    margin-right: 20px;
    border: none;
    border-radius: 4px;
    
}

.ProfileIcon:hover {
    background-color: rgb(255,255,255,.15);
    cursor: pointer;
}

.dropdown-options {
    display: none; /* hide until hover*/
    position: absolute;
    right: 0;
    background-color:#181818; 
    border-radius:5px;
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.2);
    min-width: 125px;
}

.dropdown:hover .dropdown-options {
    display: block; /* now display */
}

.dropdown-option {
    right: 0;
    display: block;
    color: #d8d8d8; 
    text-decoration: none;
    padding: 15px;
    border-radius: 5px;
}

.dropdown-option:hover {
    background-color: #121212;
}

/* login & register pages */
.Login, .Register {
    margin-top: 10%;
    padding: 40px;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.3);
    border-radius: 10px;
    background-color: #181818;
    font-size: 20px; 
    color: #d8d8d8; 

    display: flex;
    flex-direction: column;
    align-items: center;
}

.LoginUsername, .RegisterUsername, .RegisterEmail  {
    border: none;
    margin-bottom: 20px;
    font-size: 16px;
    color:#555555;
    font-family: 'Times New Roman', serif;
    min-height: 30px;
    min-width: 160px;
    border-radius: 5px;
    
}

.LoginPassword, .RegisterPassword {
    border: none;
    margin-bottom: 20px;
    font-family: 'Times New Roman', serif;
    font-size: 16px;
    color:#555555;
    min-height: 30px;
    min-width: 160px;
    border-radius: 5px;
}

.FormSwapLink {
    color: white;
    font-size: 16px;
    margin-bottom: 20px;
}

.LoginButton, .RegisterButton {
    font-size: 20px;
    min-width: 70px;
    min-height: 30px;
    border: none;
    border-radius: 5px;
    font-family: 'Times New Roman', serif;
    background-color: #f5f5f5;
}

.LoginButton:hover, .RegisterButton:hover {
    background-color: #e0e0e0;
    cursor: pointer;
}

/* non-navbar */
.BelowNavBar {
    display: flex;
    justify-content: center;
    padding: 20px;
}

.PageButtonContainer {
    margin: 0px;
    margin-left: 20px;
}

.PageButton {
    min-width: 24px;
    min-height: 24px;
    margin-right: 20px;
    border: none;
    border-radius: 4px;
    background-color: #181818;
}

.PageButton:hover {
    background-color: rgba(255,255,255,.15);
    cursor: pointer;
}

/* content e.g. feed, blog, sidebar */
.Content {
    margin: 10px;
    padding: 20px;
    margin-top: 0px;
    display: flex;
    flex-direction: column;
    max-width: 1000px;
    overflow: hidden    ;
}

/* title card for blogs only */
.TitleCard {
    margin: 10px;
    padding: 20px;
    margin-top: 0px;
    padding-top: 0px;
    padding-bottom: 0px;
    font-size: 40px;
}

.TitleCardFooter {
    font-size: 16px;
    color:#777777
}

.BelowTitleCard {
    display: flex;
    justify-content: center;
    padding: 20px;
    padding-top: 0px;
    padding-bottom: 0px;
}

/* side bar stuff */
.SideBarCard {
    margin: 10px;   
    padding: 20px;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, .1);
    border-radius: 10px;
    background-color: #181818; 
    border: 1px solid #222222;
    display: flex;
    flex-direction: column;
    max-width: 250px;
    min-width: 250px;
    align-items: center;
}

.NewBlogButton {
    margin-top: 5px;
    border: 1px solid lightgrey;
    border-radius: 4px;
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
    font-weight: bold;
    background-color: #f5f5f5; 
    color: #333333;
    padding: 10px;
}

.NewBlogButton:hover {
    background-color: #e0e0e0;
    cursor: pointer;
}

.NewBlogInput {
    border: 1px solid lightgrey;
    border-radius: 3px;
    padding: 10px;
    background-color: #f5f5f5; 
    color: #333333;
    font-family: 'Times New Roman', Times, serif;
    font-size: 16px;
    padding: 10px;
    margin: 10px;
}

.NewBlogInput:focus {
    outline: none;
}

.NewBlogFormButtonContainer {
    display: flex;
    flex-direction: row;
}

.NewBlogFormButton {
    margin: 5px;
    margin-top: 5px;
    border: 1px solid lightgrey;
    border-radius: 4px;
    font-family: 'Times New Roman', Times, serif;
    font-size: 16px;
    font-weight: bold;
    background-color: #f5f5f5; 
    color: #333333;
    padding: 5px;
}

.NewBlogFormButton:hover {
    background-color: #e0e0e0;
    cursor: pointer;
}

/* post cards */
.PostCard {
    margin: 10px;
    margin-bottom: 20px;
    padding: 20px;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, .1);
    border-radius: 10px;
    background-color: #181818;
    border: 1px solid #222222;
    font-size: 16px; 
    height: fit-content;
    min-width: 616px;
}

.PostCard-Title {
    color: #d8d8d8; 
    margin-bottom: 8px;
    margin-top: 0px;
    cursor: pointer;
    transition-duration: 500ms;
}

.PostCard-Title:hover {
    background-color: #151515;
    border-radius: 4px;
}

hr {
    border: 1px solid #222222;
}

.PostCard-Content {
    color:  #d8d8d8;; /* Slightly lighter grey for content */
    font-size: 16px; /* Readable font size */
    line-height: 1.6; /* Adequate line spacing for readability */
    height: fit-content;
}

.PostCard-Footer {
    margin-top: 15px; /* Space above the footer */
    font-size: 14px; /* Slightly smaller font for meta info */
    color: #777777; /* Light grey for footer */
    display: flex;
    flex-direction: row;
    align-items: center;
}

.PostEdit {
    margin-top: 8px;
    margin-bottom: 16px;
    width: 100%;
    color: #d8d8d8; /* Slightly lighter grey for content */
    font-size: 16px; /* Readable font size */
    line-height: 1.6; /* Adequate line spacing for readability */
    background-color: #181818;
    border: none;
    resize: none;
    font-family: 'Times New Roman', Times, serif;
    padding: 0px;
    height: 500px;
}

.PostEdit:focus {
    outline: none;
}

.TitleEdit {
    font-size: 20px; 
    font-weight: bold;
    color: #d8d8d8; 
    margin: 0px;
    width: 100%;
    background-color: #181818;
    border: none;
    font-family: 'Times New Roman', Times, serif;
    padding: 0px;
    overflow-wrap: normal;
}

.TitleEdit:focus {
    outline: none;
}

.FooterButtonContainer{
    margin-left: auto;
    display: flex;
    align-items: center;
}

.BlogCardButton {
    margin-right: 20px;
    border: none;
    background-color: rgba(0, 0, 0, 0);
    border-radius: 4px;
}

.BlogCardButton:hover {
    background-color: rgba(255,255,255,.15);
    cursor: pointer;
}

/* misc for Likes and YourBlogs */
.PostCardsContainer-Liked {
    max-width: 650px;
}

.YourBlogsContent {
    margin: 10px;
    padding: 20px;
    margin-top: 0px;
    display: flex;
    flex-direction: column;
    max-width: 650px;
    overflow: scroll;
}

.YourBlogCard {
    margin: 10px;
    margin-bottom: 20px;
    padding: 20px;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, .1);
    border-radius: 10px;
    background-color: #181818;
    border: 1px solid #222222;
    font-size: 16px; 
    height: fit-content;
    min-width: 200px;
}